<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Message</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="message-list"></tbody>
</table>

<script id="message-list-entry" type="text/x-handlebars-template">
  <tr>
    <td>{{id}}</td>
    <td>{{text}}</td>
    <td>
      <button class="btn btn-default favorite-btn" data-id="{{id}}">Favorite</button>
    </td>
  </tr>
</script>
